html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ul.navbar-nav li a {
    color: black !important;
    font-weight: 600;
    text-transform: uppercase;
}

ul.navbar-nav li a.nav-link:hover {
    color: #008643 !important;
}

.list-unstyled li a:hover {
    color: #008643 !important;
}

.box .box-head h5 {
    text-transform: uppercase;
    background-color: #008643;
    color: #f4f4f4;
    padding: 0.7rem 0.8rem;
    display: inline-block;
    margin-bottom: 0;
}

.box .box-head {
    border-bottom: 1px solid #008643;
}

.box .box-body a.title {
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: block;
    padding: 1rem 0;
}

.box .box-body p.content {
    padding-left: 1rem;
    font-size: 0.8rem;
}

footer {
    background-color: #008643;
    margin-top: 3rem;
    padding-top: 3rem;
    color: #f4f4f4;
}

footer .box .box-head h5 {
    padding-left: 0;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

footer .box .box-body ul {
    padding-left: 0;
}

footer .box .box-body ul li {
    padding-bottom: 1rem;
    list-style: none;
}

footer .box .box-body a {
    text-decoration: none;
    color: #f4f4f4;
}


/* #back-top {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #d83e3e;
    right: 1rem;
    color: #005086;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3rem;
    border-radius: 30%;
} */